@import "./components/shine-card.scss";

@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/layout.scss";

/* pages */
@import "./pages/home.scss";
@import "./pages/wallet.scss";
@import "./pages/card-detail.scss";
@import "./pages/mint.scss";
/* pages */

@import "./antd-rewrites-global.scss";

* {
  margin: 0;
  padding: 0;
}

/* colors */
$colorGreen: #66ffde;
$colorNiceBlack: #080808;
$colorWhite: #f5f5f5;

$menuHeight: 4rem;

:root {
  --colorHover: #{$colorGreen};
  --linkColor: #{$colorNiceBlack};
  --selectionBackground: #{$colorGreen};
  --selectionColor: #{$colorNiceBlack};
  --black: #{$colorNiceBlack};
  --white: #{$colorWhite};
  --green: #{$colorGreen};
  --menuHeight: #{$menuHeight};
}

::selection {
  background: var(--selectionBackground);
  color: var(--selectionColor);
}

/* colors */

/* tpyoef reset */

html,
body {
  background: var(--black);
  color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white);
}

a {
  color: var(--linkColor);
  &:hover {
    color: var(--colorHover);
  }
}

/* tpyoef reset */

.__next {
  overflow: hidden;
}

// .con-fluid {
//   max-width: 1200px;
//   margin: 0 auto;
//   padding: 0 3rem;
//   position: relative;
// }

.waves-container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 6s;
  z-index: 99;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 9s;
  z-index: 99;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 12s;
  z-index: 99;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 19s;
  z-index: 99;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 5rem;
    // min-height: 10vh;
  }
}

.show-more-btn {
  bottom: 1.5rem;
  position: relative;
  display: inline-flex;
  transform: none;
  left: 0;
  align-self: center;
  z-index: 9;

  &:hover {
    .button-27 {
      box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
      bottom: 0.5rem;
      background: var(--colorHover);
      color: #000;
      border-color: var(--colorHover);
    }
  }

  &:active {
    .button-27 {
      box-shadow: none;
      left: 5rem;
    }
  }
}

.button-27 {
  z-index: 8;
  backdrop-filter: blur(2px);
  background: rgba(#fff, 0.2);
  appearance: none;
  border: 2px solid #0f0f0f;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  min-width: 0;
  outline: none;
  padding: 1rem 4rem;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  bottom: 0;
  position: relative;
  left: 0;
  z-index: 9;
  color: #0f0f0f;
  font-weight: 700;
  font-size: 0.75rem;
  cursor: pointer;
  margin: 0;
}

.button-27:disabled {
  pointer-events: none;
}

.btn-pill {
  /* border: 1px solid #e86647; */
  border: 1px solid #fff;
  border-radius: 5rem;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  display: inline-flex;
  color: #ffffff;
  transition: all 0.15s ease-in-out;
  transform: scale(1);
  user-select: none;

  &.selected {
    animation: selectedBtnPill 0.3s ease-out forwards;
  }

  &:hover {
    @media (hover: hover) and (pointer: fine) {
      border: 1px solid #e86647;
      cursor: pointer;
      transform: scale(1.2);
    }
  }
}

@keyframes selectedBtnPill {
  0% {
    transform: scale(1.2);
    border-color: #fff;
  }
  10% {
    border-color: #e86647;
  }
  // 20% {
  //   transform: scale(1.05);
  // }
  40% {
    transform: scale(1.4);
  }
  // 80% {
  //   transform: scale(1.2);
  // }
  100% {
    @media (hover: hover) {
      transform: scale(1.2);
    }
    @media (hover: none) {
      transform: scale(1);
    }
  }
}

.btn-pill.active {
  border: 1px solid #e86647;
  cursor: pointer;
  transform: scale(1.2);
}

.compare-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 40rem;
}

.compare-section-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem 5rem;
  flex-wrap: wrap;
}

@media screen and (max-width: 640px) {
  .compare-section {
    flex-direction: column;
    gap: 4rem 0;
  }
  .compare-section-inner {
    margin-bottom: 5rem;
    flex-direction: column;
    gap: 2rem 0;
  }
}

$loaderWidth: 4rem;
$loaderHeight: $loaderWidth;

.loader {
  position: relative;
  width: $loaderWidth;
  height: $loaderHeight;
  background-color: rgba(var(--black), 0.5);
  transform: rotate(45deg);
  overflow: hidden;
  display: block;
}
.loader:after {
  content: "";
  position: absolute;
  inset: calc($loaderWidth / 8);
  margin: auto;
  // background: #222b32;
  background: var(--black);
}
.loader:before {
  content: "";
  position: absolute;
  inset: calc($loaderWidth / -4); /*-0.5rem;*/
  margin: auto;
  background: #e86647;
  animation: diamondLoader 2s ease-in-out infinite;
}
@keyframes diamondLoader {
  0% {
    opacity: 0;
    transform: translate(calc($loaderWidth * -1), calc($loaderWidth * -1))
      rotate(-45deg);
  }
  10% {
    opacity: 1;
    transform: translate(calc($loaderWidth * -1), calc($loaderWidth * -1))
      rotate(-45deg);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(0rem, 0rem) rotate(-45deg);
  }
}

.loading-info {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  // bottom: calc((2rem / 2) + 2rem);
  // right: calc((2rem / 2) + 2rem);
}

.thanks-section {
  letter-spacing: 0;
  // max-width: 40rem;
  margin: 0 2rem;

  margin-top: 0rem;
  flex: 1 0 100%;
  overflow: hidden;

  max-height: 0rem;
  transition: all 1s ease-in-out;

  &.visible {
    max-height: 40rem;
    margin-top: 5rem;

    .loading-info {
      margin-bottom: 2rem;
    }
  }

  .loading-info {
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  .loading-info.visible {
    opacity: 1;
  }

  p {
    margin-top: 1rem;
  }

  span {
    font-weight: 600;
    color: #e86647;
  }
}

.winner-section {
  margin-top: 4rem;
  font-size: 0.75rem;
  color: rgba(#e86647, 0.5);
  text-align: center;
}

.stepper {
  text-align: center;
  width: 100%;
  margin-top: 3rem;
  color: #3e3e3e;
  font-size: 0.75rem;
  font-weight: 600;
}
